.address {
  padding-top: 80px;
  padding-bottom: 34px;
  background-color: $main-accent-color;
  position: relative;
  z-index: 6;
  margin-top: -50px;

  @include bottom-radius(30px, 30px);

  @media (min-width: $tablet-width) {
    @include bottom-radius(60px, 60px);
    padding-bottom: 84px;
    padding-top: 98px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
    padding-top: 104px;
  }
}

.address__content-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 74px;
  }
}

.address__contacts-list {
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: 154px;
  }
}

.address__link {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 20px;
  border: 3px solid $main-background-color-dark;
  border-radius: 10px;
  font-weight: 700;
  color: $button-text-color-dark;
  width: 100%;

  @include typography (18px, 700, 1);

  &::after {
    @include pseudo-after-arrow();
    right: 20px;
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding: 26px 34px 24px 34px;
    font-size: 24px;

    &::after {
      right: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 27.7%;
    padding: 26px 34px 24px;

    &::after {
      right: 32px;
    }
  }
}
