// .calendar {

// }

.calendar__month-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
  margin-bottom: 20px;
}

.calendar__month-button {
  height: 42px;
  width: 20%;
  background-color: transparent;
  border: none;
}

// .calendar__month-button--previous {
// svg
// }

// .calendar__month-button--next {
// svg
// }

.calendar__month-name {
  margin: 0;

  @include typography(20px, 700, 1);
  color: $button-text-color-dark;
}

.calendar__week-days-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 6px;
}

.calendar__week-day {
  text-align: center;
  color: #444444;
}

.calendar__week-day--week-end {
  color: #ff5c23;
}

.calendar__days-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__day-label {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #cbced9;

  @include typography(14px, 500, 1.29);
  color: $button-text-color-dark;
  background-color: $main-background-color-light;
  text-align: center;
  padding: 6px;
}

.calendar__day-input:disabled + .calendar__day-label {
  color: rgba(#444444, 0.3);
  font-weight: 400;
  background-color: #ffffff;
}

.calendar__day-input:checked + .calendar__day-label {
  color: #ffffff;
  background-color: $button-text-color-dark;
}
// .calendar__day-input {
// }
