// .calendar {

// }

.calendar__month-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.calendar__month-button {
  height: 42px;
  width: 20%;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    height: 86px;
  }
}

.calendar__month-name {
  @include typography(20px, 700, 1);
  margin: 0;
  color: $button-text-color-dark;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.calendar__week-days-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.calendar__week-day {
  @include typography(14px, 400, 1.29);
  text-align: center;
  color: $text-color-dark;

  @media (min-width: $tablet-width) {
    @include typography(18px, 400, 1);
  }
}

.calendar__week-day-full {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.calendar__week-day--week-end {
  color: #ff5c23;
}

.calendar__days-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar__day {
  margin-bottom: -1px;
  margin-right: -1px;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
  }
}

.calendar__day-label {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #cbced9;

  @include typography(14px, 500, 1.29);
  color: $button-text-color-dark;
  background-color: $main-background-color-light;
  text-align: center;
  padding: 6px;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 1);
    padding: 26px;
  }

  @media (min-width: $desktop-width) {
    @include typography(18px, 400, 1);
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 16px;
    text-align: left;
  }
}

.calendar__day-label-desc {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.calendar__day-label-text--start,
.calendar__day-label-text--end {
  @include typography(18px, 400, 1.5);
  display: block;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.calendar__day-input:disabled + .calendar__day-label {
  color: rgba($text-color-dark, 0.3);
  font-weight: 400;
  background-color: #ffffff;
}

.calendar__day-input:checked + .calendar__day-label {
  color: $text-color-light;
  background-color: $button-text-color-dark;
}
// .calendar__day-input {
// }
