.checkbox-row {
  display: flex;
  align-items: baseline;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.checkbox-row--big {
  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.checkbox-row__label {
  @include typography(15px, 400, 1.33);
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    @include typography(20px, 400, 1);
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.checkbox-row__label--big {
  color: $button-text-color-dark;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 1);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.checkbox-row__input + .checkbox-row__label {
  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 9px;
    transform: translate(0, -3px);

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      background-size: 12px 12px;
    }
  }

  &:active {
    &::before {
      background-color: #e2e5f1;
    }
  }
}

.checkbox-row__input:focus + .checkbox-row__label {
  opacity: 0.6;
}

.checkbox-row__input--big + .checkbox-row__label--big {
  &::before {
    border: 1px solid #adb5bd;
    width: 26px;
    height: 26px;
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 36px;
      background-size: 12px 12px;
      margin-right: 22px;
    }
  }

  &:hover {
    &::before {
      border: 1px solid #959bb2;
    }
  }

  &:active {
    &::before {
      border: 1px solid #e2e5f1;
      background-color: #e2e5f1;
    }
  }
}

.checkbox-row__input--big:focus + .checkbox-row__label--big {
  &::before {
    border: 1px solid #e2e5f1;
    background-color: #e2e5f1;
  }
}

.checkbox-row__input:checked + .checkbox-row__label {
  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 9px;
    transform: translate(0, -3px);
    background-image: url("../img/tick.svg");

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      background-size: 12px 12px;
    }
  }

  &:active {
    &::after {
      opacity: 0.5;
    }
  }
}

.checkbox-row__input--big:checked + .checkbox-row__label--big {
  &::after {
    width: 26px;
    height: 26px;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 36px;
    }
  }
}
