.contacts-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.contacts-list--small .contacts-list__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:nth-child(1) {
    background-color: $main-accent-color-dark3;
  }

  &:nth-child(2) {
    background-color: $main-accent-color-dark2;
  }
}


.contacts-list__item {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}

.contacts-list__item-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.contacts-list__item-icon{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.contacts-list--big .contacts-list__item-icon {
  width: 45px;
  height: 45px;
  background-color: $main-background-color-dark;

}

.contacts-list__item-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.37;
  color: $main-background-color-dark;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}




