.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list--small .contacts-list__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $main-accent-color-dark1;

  &:nth-child(1) {
    background-color: $main-accent-color-dark3;
  }

  &:nth-child(2) {
    background-color: $main-accent-color-dark2;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }
}

.header__contacts-list .contacts-list__item {
  margin-right: 0;
}

.contacts-list__item-link {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.contacts-list__item-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }
}

.contacts-list__item--main .contacts-list__item-icon,
.contacts-list__item--big .contacts-list__item-icon {
  width: 45px;
  height: 45px;
  background-color: $contacts-buttons-dark-color2;

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }
}

.contacts-list__item--big .contacts-list__item-icon {
  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }
}

// Changing color and icons for contacts-list__item--main on desktop
@media (min-width: $desktop-width) {
  .contacts-list__item--main:first-child .contacts-list__item-icon {
    background-color: $main-accent-color-dark3;
    background-image: url("../img/topmenu-phone.svg");
    background-size: 18px 18px;
  }

  .contacts-list__item--main:nth-child(2) .contacts-list__item-icon {
    background-color: $main-accent-color-dark1;
    background-image: url("../img/topmenu-mail.svg");
    background-size: 16px 14px;
  }

  .contacts-list__item--main .contacts-list__item-icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .contacts-list__item--main .contacts-list__item-svg {
    display: none;
  }
}

.contacts-list__item-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: $main-accent-color;
}

.contacts-list__item--main .contacts-list__item-svg--phone,
.contacts-list__item--big .contacts-list__item-svg--phone {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 23px;
  }
}

.contacts-list__item--big .contacts-list__item-svg--phone {
  @media (min-width: $desktop-width) {
    width: 32px;
    height: 30px;
  }
}

.contacts-list__item--main .contacts-list__item-svg--mail,
.contacts-list__item--big .contacts-list__item-svg--mail {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 19px;
  }
}

.contacts-list__item--big .contacts-list__item-svg--mail {
  @media (min-width: $desktop-width) {
    width: 36px;
    height: 25px;
  }
}

.contacts-list__item--big .contacts-list__item-svg--location {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 42px;
  }
}

.contacts-list--small .contacts-list__item-svg {
  fill: $button-text-color-darker;
}

.contacts-list__item-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3;
  color: $main-background-color-dark;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
    font-size: 28px;
    line-height: 1;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.contacts-list__item--big .contacts-list__item-text {
  color: $button-text-color-dark;
}

.contacts-list__item--contrast .contacts-list__item-text {
  color: $main-accent-color;
}

.header__contacts-list .contacts-list__item-text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
