.contacts {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: $main-background-color-dark;
  color: $text-color-light;
}

.contacts__text {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}
