.contacts {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: $main-background-color-dark;
  color: $text-color-light;

  @include bottom-radius(30px, 30px);

  @media (min-width: $tablet-width) {
    @include bottom-radius(50px, 50px);
    padding-bottom: 60px;
  }
}

.contacts__content-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.contacts__text {
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 40px;
  }
}

.contacts__contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: 160px;
  }
}
