//
.countries-list {
  list-style: none;
  padding: 0;
}

.countries-list__item {
  margin-right: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.countries-list__icon {
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
    width: 35px;
    height: 24px;
    transform: translateY(-5px);
  }

  @media (min-width: $desktop-width) {
    margin-right: 18px;
  }
}

.countries-list__country-name {
  @include typography(15px, 500, 1.07);
  text-transform: uppercase;
  color: $button-text-color-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
