.country-list {
  list-style: none;
}

.country-list__item{
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

.country-list__item-link {
  text-decoration: none;
  color: #444444;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: block;
    line-height: 1;
  }
}
