.country-destinations {
  padding: 0;
  list-style: none;
  position: relative;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: " ";
      width: 1px;
      height: 105%;
      background-color: #e1e3e9;
      border-radius: 50%;
      position: absolute;
      top: 0;
      z-index: 1;
      left: 390px;
    }

    @media (min-width: $desktop-width) {
      left: 770px;
      height: 120%;
    }
  }
}

.country-destinations__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 42px;
  width: 100%;
  position: relative;

  // &::after{
  //   arrow-down icon
  // }

  // &:last-child::after {
  //   display: none;
  // }

  @media (min-width: $tablet-width) {
    height: 70px;
  }
}

.country-destinations__row--selected {
  &::before {
    content: " ";
    width: 8px;
    height: 8px;
    background-color: $button-text-color-dark;
    border-radius: 50%;
    position: absolute;
    left: 168px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    @media (min-width: $tablet-width) {
      left: 390px;
      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      left: 770px;
    }
  }
}

.country-destinations__choose-button {
  width: 168px;
  height: 100%;
  text-align: left;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 0;
  background-color: transparent;

  @include typography(14px, 500, 1.29);
  letter-spacing: 0.09em;
  color: $button-text-color-dark;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 370px;
    font-size: 20px;
    line-height: 1;
    padding-left: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }

  // &::after {
  //   down arrow icon
  // }
}

.country-destinations__country-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  display: block;

  &::after {
    content: " ";
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 80%
    );
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translateY(-50%);
  }
}

.country-destinations__choose-button--empty {
  width: 220px;
  overflow: visible;

  @media (min-width: $tablet-width) {
    width: 370px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.country-destinations__row--add {
  &::before {
    content: " ";
    width: 6px;
    height: 6px;
    border: 1px solid #cbced9;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 168px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    @media (min-width: $tablet-width) {
      left: 390px;
      width: 12px;
      height: 12px;
      background-color: #ffffff;
    }

    @media (min-width: $desktop-width) {
      left: 770px;
    }
  }
}

.country-destinations__row--add {
  &::before {
    background-color: $main-background-color-light;
  }
}

.country-destinations__choose-button--add {
  background-color: $main-background-color-light;
  border: none;
  position: relative;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #afb0b5;
    border-radius: 1px;
    top: 50%;
    right: 16px;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    &::before,
    &::after {
      width: 20px;
      right: 26px;
    }
  }
}

.country-destinations__choose-button--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $button-text-color-dark;
  color: #ffffff;
  border: none;
  position: relative;

  // &::before {
  //   display: none;
  // }
  // &::after {
  //   drop-down arrow icon
  // }
}

.country-destinations__row--drop-down .country-destinations__choose-button {
  &::before {
    content: " ";
    width: 6px;
    height: 6px;
    border: 1px solid #cbced9;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 168px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    @media (min-width: $tablet-width) {
      left: 390px;
      width: 12px;
      height: 12px;
      background-color: #ffffff;
    }

    @media (min-width: $desktop-width) {
      left: 770px;
    }
  }
  // &::after {
  //   close button cross icon
  // }
}

// .country-destinations__row--drop-down .country-destinations__choose-button--active {
  // &::before,
  // &::after {
  //   content: " ";
  //   position: absolute;
  //   width: 10px;
  //   height: 1px;
  //   background-color: #ffffff;
  //   border-radius: 1px;
  //   top: 50%;
  //   right: 20px;
  //   left: auto;
  //   border: none;
  // }

  // &::before {
  //   transform: rotate(45deg);
  // }

  // &::after {
  //   transform: rotate(-45deg);
  // }

  // @media (min-width: $tablet-width) {
  //   &::before,
  //   &::after {
  //     width: 24px;
  //     right: 30px;
  //     opacity: 0.5;
  //   }
  // }

  //  ! insert closing cross svg
// }

.country-destinations__del-button--hidden {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.country-destinations__icon-wrapper {
  width: 52px;
  height: 100%;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
  }
}

.country-destinations__del-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-color: $main-background-color-light;
  border: none;
  border-radius: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: #afb0b5;
    border-radius: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;
    transform: translate(0, 0);

    &::before,
    &::after {
      width: 24px;
      opacity: 0.5;
    }
  }
}

.country-destinations__select-lists-wrapper {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 16px rgba(212, 217, 235, 0.25);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 20;
  overflow: hidden;
  border: 1px solid #cbced9;
  border-top: none;

  @media (min-width: $tablet-width) {
    display: flex;
    bottom: 0;
    top: auto;
    transform: translateY(100%);
    box-shadow: 0px 8px 16px rgba(54, 80, 148, 0.18);
    width: 575px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.country-destinations__select-lists-wrapper--hidden {
  display: none;
}

.country-destinations__letter-filter {
  width: calc(100% + 1px);
  margin-left: -1px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 370px;
    padding-top: 36px;
    padding-left: 26px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
  }
}

.country-destinations__country-list {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    border-left: 1px solid rgba(#D6D9E6, 0.5);
  }
}
