.header {
  position: relative;
  padding-top: 26px;
  min-height: 72px;

  @media (min-width: 768px){
    min-height: 132px;
  }
}

.header__burger-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 36px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    display: block;
    right: 25px;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #cccccc;
  }

  &::before{
    top: 28px;
  }

  &::after{
    top: 38px;
  }
}

.header__burger-button--close{
  &::before{
    transform: rotate(45deg);
    top: 32px;
  }

  &::after{
    transform: rotate(-45deg);
    top: 32px;
  }
}

.header__modal-wrapper{
  padding-top: 70px;
  padding-bottom: 12px;
}

.header__contacts-list{
  margin: 0;
  margin-bottom: 28px;
}

.header__main-nav{
  margin-bottom: 54px;
}

.header__socials{
  margin: 0;
}

.header--collapsed .header__modal-wrapper{
  display: none;
}
