.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 28px;
  min-height: 72px;
  background-color: #ffffff;
  z-index: 10;

  @media (min-width: $tablet-width) {
    min-height: 132px;
    padding-top: 44px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    background-color: #161c36;
    min-height: 110px;
    padding-bottom: 26px;
  }
}

.header--big {
  @media (max-width: $mobile-width-only) {
    padding-top: 18px;
  }
}

.body--header-collapsed .header {
  background-color: #161c36;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    background-color: #182044;
  }

  @media (min-width: $desktop-width) {
    background-color: #161c36;
  }
}

.body--header-fixed .header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 20;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 18px;
    min-height: 90px;
  }
}

.body--header-modal .header {
  @media (max-width: $tablet-width-only) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
  }
}

.header__logo-btn-nav-wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.header__logo-wrapper {
  width: 100px;
  height: 16px;
  display: block;
  position: relative;
  margin-bottom: 76px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 144px;
    margin-bottom: 0;
    flex-shrink: 0;
    width: 200px;
    height: 52px;

    &::after {
      content: " ";
      width: 60px;
      height: 2px;
      background-color: $text-color-light;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(150%, -50%);
    }
  }
}

.body--header-fixed .header__logo-wrapper::after {
  background-color: $main-background-color-dark;
}

.body--header-collapsed .header__logo-wrapper {
  margin-bottom: 0;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/logo-mobile-white@1x.png");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-mobile-white@2x.png");
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    background-image: url("../img/logo-tablet-white@1x.png");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-tablet-white@2x.png");
    }
  }
}

.body--header-collapsed .header__logo-img {
  @media (max-width: $tablet-width-only) {
    opacity: 0;
  }
}

.body--header-fixed .header__logo-wrapper {
  @media (min-width: $desktop-width) {
    background-image: url("../img/logo-desktop-blue@1x.png");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/logo-desktop-blue@2x.png");
    }
  }
}

.body--header-fixed .header__logo-img {
  @media (max-width: $tablet-width-only) {
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    opacity: 0;
  }
}

.header__burger-button {
  padding: 24px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -12px;
  top: -16px;

  @media (min-width: $tablet-width) {
    top: -5px;
    right: 50%;
    transform: translateX(50%);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: " ";
    position: absolute;
    display: block;
    right: 50%;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background-color: #ffffff;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &::before {
    background-color: #cccccc;
    transform: rotate(45deg);
    right: 25%;
  }

  &::after {
    background-color: #cccccc;
    top: 50%;
    transform: rotate(-45deg);
    right: 25%;
  }
}

.body--header-collapsed .header__burger-button {
  &::before,
  &::after {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

  &::after {
    top: 67%;
  }
}

.header__contacts-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-grow: 0;
    justify-content: flex-end;
    order: -1;
  }
}

.header__main-nav {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 130px;
    padding: 0 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0;
    margin-top: 8px;
  }
}

.body--header-collapsed .header__main-nav {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.header__contacts-user-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 0 56px;
    margin-bottom: 114px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-shrink: 0;
    margin-left: auto;
    max-width: 30%;
    padding: 0;
    margin-bottom: 0;
  }
}

.body--header-collapsed .header__contacts-user-nav-wrapper {
  margin-bottom: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.header__user-list {
  margin: 0;
  order: -1;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.header__socials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.body--header-collapsed .main-nav__user-list {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.body--header-collapsed .header__contacts-list {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.body--header-collapsed .header__socials {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.body--header-collapsed .pages-list__link {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
