.letter-countries-lists {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
  }
}

.letter-countries-lists--mini {
  @media (max-width: $mobile-width-only) {
    padding: 0;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding: 34px 30px;

    &::before {
      content: " ";
      width: 1px;
      height: 100%;
      position: absolute;
      left: 65%;
      top: 0;
      background-color: rgba(#d6e9e6, 0.5);

      @media (min-width: $desktop-width) {
        left: 67%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 32px 26px;
    padding-right: 49px;
    padding-bottom: 38px;
  }
}

// common list (letters)
.letter-countries-lists__letter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: $mobile-width-only) {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
  }

  @media (min-width: $tablet-width) {
    width: 58%;
    padding-top: 5px;
    grid-template-columns: repeat(5, min-content);
    column-gap: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0 16px;
    margin-right: 0;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6px;
  }
}

.letter-countries-lists__letter-list--mini {
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;

  @media (max-width: $mobile-width-only) {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0;
    width: 53%;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    grid-row-gap: 16px;
    grid-column-gap: 15px;
    padding: 0;
    width: 55%;
  }
}

.letter-countries-lists__letter-item {
  cursor: pointer;
  color: $main-background-color-dark;

  @media (max-width: $mobile-width-only) {
    border-right: 1px solid #cbced9;
    border-bottom: 1px solid #cbced9;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.letter-countries-lists__letter-item--mini {
  text-align: center;
  border: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    border-radius: 4px;
  }
}

.letter-countries-lists__letter-item--selected {
  @media (max-width: $mobile-width-only) {
    background-color: $main-background-color-light;
    color: $button-text-color-dark;
  }

  @media (min-width: $tablet-width) {
    background-color: $button-text-color-dark;
    color: $text-color-light;
  }
}

.letter-countries-lists--max .letter-countries-lists__letter-item {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;

    &:nth-child(n + 11) {
      margin-bottom: 88px;
    }

    &:nth-child(n + 16) {
      margin-bottom: 48px;
    }
  }
}

.letter-countries-lists--max .letter-countries-lists__letter-item--selected {
  opacity: 1;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    background-color: $button-text-color-dark;
    color: $text-color-light;
  }

  @media (min-width: $tablet-width) {
    color: $button-text-color-dark;
  }
}

.letter-countries-lists__letter-for-country-list {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  @media (max-width: $mobile-width-only) {
    @include typography(14px, 500, 1);
    padding: 14px 0 12px 0;
  }

  @media (min-width: $tablet-width) {
    @include typography(60px, 700, 1);
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid #cbced9;

    &:hover,
    &:focus {
      border-color: #959bb2;
    }
  }
}

.letter-countries-lists__letter-item--mini .letter-countries-lists__letter-for-country-list {
  opacity: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 1);
    padding: 24px 0 23px;
    margin: 0;
  }
}

.letter-countries-lists--max .letter-countries-lists__letter-for-country-list {
  border: none;
}
// inner list (countries)

.letter-countries-lists__country-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.letter-countries-lists__country-list--shown {
  display: block;
}

.letter-countries-lists__letter-list--mini .letter-countries-lists__country-list {
  display: none;
}

.letter-countries-lists__country-link {
  text-decoration: none;
  color: $text-color-dark;
  font-weight: 400;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: #1d2e5b;
    opacity: 0.3;
  }
}

.letter-countries-lists__list-placeholder {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    padding-top: 14px;
  }

  @media (min-width: $tablet-width) {
    width: 28.5%;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.letter-countries-lists__list-placeholder .letter-countries-lists__country-item {
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.letter-countries-lists__list-placeholder--mini {
  @media (max-width: $mobile-width-only) {
    padding: 20px;
    border: 1px solid #cbced9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 25%;
  }
}

.letter-countries-lists__list-placeholder--mini .letter-countries-lists__country-link {
  line-height: 1.5;

  @media (max-width: $mobile-width-only) {
    line-height: 1.6;
  }
}
