.letter-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #ffffff;
}

.letter-list__item {
  text-align: center;
  border: 1px solid #cbced9;
}

.letter-list__item-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $button-text-color-dark;
  text-transform: uppercase;
  padding: 10px;
  @include typography(14px, 500, 1.29);
}

.letter-list__item-link--active {
  background-color: $button-text-color-dark;
  color: #ffffff;
}
