.letter-countries-lists {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
  }
}

.letter-countries-lists--mini {
  @media (max-width: $mobile-width-only) {
    padding: 0;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding: 34px 30px;

    &::before {
      content: " ";
      width: 1px;
      height: 100%;
      position: absolute;
      left: 65%;
      top: 0;
      background-color: rgba(#d6e9e6, 0.5);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 32px 26px;
  }
}

// common list (letters)
.letter-countries-lists__letter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: $mobile-width-only) {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #cbced9;
    border-left: 1px solid #cbced9;
  }

  @media (min-width: $tablet-width) {
    width: 58%;
    margin-right: 20%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0 36px;
    margin-right: 0;
    grid-gap: 26px;
  }
}

.letter-countries-lists__letter-list--mini {
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;

  @media (max-width: $mobile-width-only) {
    border-top: none;
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    border: none;
    grid-gap: 15px;
    padding: 0;
    margin-right: 20%;
  }
}

.letter-countries-lists__letter-item {
  cursor: pointer;
  color: #192144;

  @media (max-width: $mobile-width-only) {
    border-right: 1px solid #cbced9;
    border-bottom: 1px solid #cbced9;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.letter-countries-lists__letter-item--mini {
  text-align: center;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    border: 1px solid #cbced9;
    border-radius: 4px;
  }
}

.letter-countries-lists__letter-item--selected{
  @media (max-width: $mobile-width-only) {
    background-color: $main-background-color-light;
    color: $button-text-color-dark;
  }

  @media (min-width: $tablet-width) {
    background-color: $button-text-color-dark;
    color: #ffffff;
  }
}

.letter-countries-lists--max .letter-countries-lists__letter-item {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    opacity: 0.3;
  }
}

.letter-countries-lists--max .letter-countries-lists__letter-item--selected {
  opacity: 1;
  background-color: transparent;

  @media (max-width: $mobile-width-only) {
    background-color: $button-text-color-dark;
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    color: $button-text-color-dark;
  }
}

.letter-countries-lists__letter-for-country-list {
  display: block;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    @include typography(14px, 500, 1);
    padding: 14px 0;
  }

  @media (min-width: $tablet-width) {
    @include typography(60px, 700, 1);
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 30px;
  }
}

.letter-countries-lists__letter-list--mini .letter-countries-lists__letter-item--selected {
  @media (max-width: $mobile-width-only) {

  }
}

.letter-countries-lists__letter-item--mini .letter-countries-lists__letter-for-country-list {
  opacity: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 1);
    padding: 26px 0;
    margin: 0;
  }
}
// inner list (countries)

.letter-countries-lists__country-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.letter-countries-lists__country-list--shown {
  display: block;
}

.letter-countries-lists__letter-list--mini .letter-countries-lists__country-list {
  display: none;
}

.letter-countries-lists__country-link {
  text-decoration: none;
  color: #444444;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.letter-countries-lists__list-placeholder {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    padding-top: 16px;
  }

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.letter-countries-lists__list-placeholder--mini {
  @media (max-width: $mobile-width-only) {
    padding: 20px;
    border: 1px solid #cbced9;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}


