.main-page-button {
  width: 100%;
  background-color: $main-accent-color;
  color: $button-text-color-dark;

  @include typography(18px, 700, 1);
  display: block;
  border-radius: 10px;
  padding: 25px;
  padding-right: 80px;
  text-decoration: none;
  position: relative;
  padding: 22px 80px 20px 25px;

  &::after {
    @include pseudo-after-arrow();
    right: 22px;
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    font-size: 24px;
    padding: 30px 80px 26px 32px;

    &::after {
      right: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}
