.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: start;
  }
}

.main-nav__list {
  margin-top: 0;
  margin-bottom: 52px;

  @media (min-width: $tablet-width) {
    margin-bottom: 144px;
  }
}

.main-nav__user-list {
  margin: 0;
}

.main-nav__contacts-user-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
}

.main-nav__contacts.contacts-list--small {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}
