.page-accent-button {
  width: 100%;
  background-color: $main-accent-color;
  color: $button-text-color-dark;
  text-transform: uppercase;
  display: block;
  border-radius: 20px;
  padding: 8px 10px 4px;
  text-decoration: none;
  position: relative;
  text-align: center;

  @include typography(17px, 700, 1.76);

  @media (min-width: $tablet-width) {
    text-transform: initial;
    padding: 28px 40px 28px 34px;
    width: max-content;
    max-width: 100%;
    text-align: left;

    @include typography(24px, 700, 1);

    &::after {
      @include pseudo-after-arrow();
      right: 38px;
    }
  }

  &:hover,
  &:focus {
    background-color: $main-accent-color-dark1;
  }

  &:active {
    background-color: $main-accent-color-dark1;
    color: rgba($button-text-color-dark, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}
