.page-accent-button {
  width: 100%;
  background-color: $main-accent-color;
  color: $button-text-color-dark;
  text-transform: uppercase;
  display: block;
  border-radius: 20px;
  padding: 6px;
  text-decoration: none;
  position: relative;
  text-align: center;

  @include typography(17px, 700, 1.76);

  @media (min-width: $tablet-width) {
    text-transform: initial;
    padding: 20px;
    padding-right: 60px;
    width: max-content;
    max-width: 100%;

    @include typography(24px, 700, 1);

    &::after {
      @include pseudo-after-arrow();
    }
  }
}
