.pagination-arrows {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.pagination-arrows__item {
  height: 100%;
  width: 50%;
}

.pagination-arrows__item-link {
  position: relative;
  display: block;
  min-height: 50px;

  @media (min-width: $tablet-width) {
    min-height: 100px;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid $button-text-color-dark;
    border-bottom: 8px solid transparent;
    top: 50%;
    transform: translateY(-50%);
  }
}

.pagination-arrows__item-link--arrow-previous {
  &::before {
    border-right: 10px solid $button-text-color-dark;
    border-left: none;
    right: 62%;

    @media (min-width: $tablet-width) {
      right: 23%;
    }

    @media (min-width: $desktop-width) {
      right: 28%;
    }
  }
}

.pagination-arrows__item-link--arrow-next {
  &::before {
    left: 62%;

    @media (min-width: $tablet-width) {
      left: 30%;
    }

    @media (min-width: $desktop-width) {
      left: 23%;
    }
  }
}
