.places{
  padding-top: 60px;
  padding-bottom: 32px;
  background-color: $main-background-color-light;
}

.places__heading{
  margin: 0;
  margin-bottom: 26px;
}

.places__text{
  padding-left: 25px;
  padding-right: 25px;
  width: 90%;
  margin: 0;
  margin-bottom: 60px;
}
