.places-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.places-list__item {
  border-radius: 10px;
  margin-bottom: 12px;
  width: 100%;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    margin-bottom: 10px;
  }
}

.places-list__item:last-child {
  margin-bottom: 0;
}

.places-list__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    border-radius: 20px;
  }
}

.places-list__link:focus {
  outline: 2px solid #cccccc;
}

.places-list__link picture {
  @media (min-width: $tablet-width) {
    height: 140px;
  }
}

.places-list__description-block {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 20px;
  position: relative;
  margin-top: -18px;

  @media (min-width: $tablet-width) {
    width: 70%;
    border-radius: 0;
    margin: 0;
    padding: 30px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
    padding-top: 24px;
  }
}

.places-list__svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25px, -50%);

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    left: auto;
    right: 0;
    transform: translate(50%, 17px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(50%, 23px);
  }
}

.places-list__text {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.places-list__title {
  color: #000000;

  @include typography(21px, 700, 1);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.places-list__subtitle {
  color: $text-color-dark;

  @include typography(16px, 500, 1.12);
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.places-list__numbers {
  color: $button-text-color-darker;
  position: relative;
  opacity: 0.3;
  @include typography(16px, 500, 1.25);


  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 28px;
    left: 70%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    display: flex;
    align-items: center;
  }
}

.places-list__numbers svg {
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 20px;
    margin-right: 8px;
  }
}
