.places {
  padding-top: 72px;
  padding-bottom: 34px;
  background-color: $main-background-color-light;
  position: relative;
  z-index: 8;

  @include bottom-radius(30px, 30px);

  @media (min-width: $tablet-width) {
    @include bottom-radius(60px, 60px);
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
    padding-top: 92px;
  }
}

.places__content-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 34px;
    padding-right: 34px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 288px 574px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }
}

.places__text-wrapper {
  padding-left: 26px;
  padding-right: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 62%;
  }
}

.places__heading {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-bottom: 58px;
  }
}

.places__text {
  width: 90%;
  margin: 0;
  margin-bottom: 58px;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    line-height: 1.18;
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 96px;
  }
}

.places__list {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;

    &::before {
      content: " ";
      position: absolute;
      background-color: $main-background-color-light4;
      top: 0;
      left: 0;
      transform: translate(-25%, -25%);
      width: 140px;
      height: 140px;
      border-radius: 20px;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, $main-background-color-light, transparent);
    }
  }
}

@media (min-width: $desktop-width) {
  .places__content-wrapper {
    padding: 70px;
    display: grid;
    grid-template-columns: 47.5% 40%;
    grid-column-gap: 172px;
    align-items: flex-start;
  }

  .places__text-wrapper {
    order: 2;
    width: 80%;
  }

  .places-list {
    grid-row: span 2;
    order: 1;
    margin: 0;

    &::before {
      transform: translate(-50%, -50%);
    }
  }

  .places__button {
    align-self: end;
    width: 58%;
    order: 3;
  }
}
