.plan-steps {
  padding: 0;
  list-style: none;
}

.plan-steps__step {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.plan-steps__step:last-child {
  margin-bottom: 0;
}
