.price-list {
  list-style: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    border-collapse: collapse;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 90.5%;
  }
}

.price-list--special {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.price-list--basic {
  @media (min-width: $tablet-width) {
    &::before {
      content: " ";
      position: absolute;
      height: 100%;
      width: 34px;
      background-color: $main-background-color-light4;
      right: 0;
      top: 0;
      // transform: translateX(20%);
    }
  }
}

.price-list__body {
  width: 100%;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.price-list--basic .price-list__body {
  counter-reset: numbers;
  position: relative;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.price-list__item {
  padding-top: 14px;
  padding-bottom: 8px;
  border-top: 1px solid #e1e3e9;
  position: relative;


  @media (max-width: $mobile-width-only) {
    display: block;
    width: 85%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    line-height: 1;
    align-items: center;
  }
}

.price-list__item--basic {
  &::after {
    counter-increment: numbers;
    content: counter(numbers);
    color: $text-color-light;
    width: 34px;
    height: 34px;
    display: block;
    border-radius: 50%;
    line-height: 2.4;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(168%, 16%);

    @media (min-width: $tablet-width) {
      width: 68px;
      height: 68px;
      font-size: 28px;
      left: 0;
      transform: translate(-132%,-4%);
    }
  }

  &:nth-child(3n + 1)::after {
    background-color: $main-accent-color-dark3;
  }

  &:nth-child(3n + 2)::after {
    background-color: $main-accent-color-dark1;
  }

  &:nth-child(3n + 3)::after {
    background-color: $main-accent-color;
  }
}

.price-list--special .price-list__item {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.price-list--basic {
  position: relative;
  z-index: 1;
}

.price-list--basic .price-list__item {
  @media (min-width: $tablet-width) {
    // margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    // padding-right: 150px;
  }
}

.price-list__item:last-child {
  border-bottom: 1px solid #e1e3e9;
}

.price-list__item-desc {
  display: block;
  padding: 0;
}

.price-list__item--basic .price-list__item-price {
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 40%;
    text-align: right;
    padding: 18px 0 20px 32px;
    background-color: $main-background-color-light4;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-right: 128px;
    padding-left: 128px;
  }
}

.price-list--special .price-list__item-price {
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 40%;
    text-align: right;
    padding: 16px 0 16px 32px;
  }
}

.price-list__item--basic:first-child .price-list__item-price::after {
  @media (min-width: $tablet-width) {
    content: " ";
    position: absolute;
    height: 40px;
    width: calc(100% + 34px);
    background-color: $main-background-color-light4;
    display: block;
    left: 0;
    top: 0;
    border-radius: 20px 20px 0 0;
    transform: translateY(-100%);
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.price-list__item--basic:last-child .price-list__item-price::after {
  @media (min-width: $tablet-width) {
    content: " ";
    position: absolute;
    height: 40px;
    width: calc(100% + 34px);
    background-color: $main-background-color-light4;
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    transform: translateY(100%);
  }

  @media (min-width: $desktop-width) {
    height: 50px;
  }
}

.price-list--basic .price-list__item-price {
  @media (min-width: $tablet-width) {
    width: 29%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 44%;
  }
}
