.price {
  padding-top: 52px;
  padding-bottom: 36px;
  background-color: $main-background-color-light3;
  position: relative;

  @include bottom-radius(30px, 30px);

  @media (min-width: $tablet-width) {
    @include bottom-radius(60px, 60px);
    background-color: $main-background-color-light;
    padding-bottom: 60px;
    padding-top: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 164px;
    padding-top: 108px;
  }
}

.price__content-wrapper {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.price__heading {
  margin: 0;
  width: 55%;
  text-align: left;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 128px;
  }
}

.price__list {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 32px 0 88px;
  }

  &::after {
    content: " ";
    position: absolute;
    background-image: url("../img/rates@1x.png");
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    top: -28px;
    transform: translateY(-100%);
    right: -24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates@2x.png");
    }

    @media (min-width: $tablet-width) {
      bottom: 0;
      top: auto;
      transform: translate(-70%, 112%);
    }

    @media (min-width: $desktop-width) {
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
      bottom: 50%;
      transform: translate(44%, 50%);
    }
  }
}

.price__button-show {
  text-decoration: none;
  color: $contacts-buttons-dark-color;
  font-weight: 700;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
  }
}

.price__button-show-icon {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  display: inline-block;
  margin-right: 20px;
  position: relative;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: $main-background-color-light4;
}

.price__button-show-svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: $contacts-buttons-dark-color;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 26px;
    transform: translateY(-3px);
  }
}

.price__modal {
  position: absolute;
  width: 85%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    width: 52%;
    top: 50%;
    transform: translateY(-50%);
  }
}
