.profiles {
  padding-top: 30px;
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.profiles__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
