.profiles-pages {
  text-align: center;
}

.profiles-pages__more-button {
  @include typography(17px, 700, 1.76);
  text-decoration: none;
  color: $main-background-color-dark;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 44px;
    margin-bottom: 52px;
  }

  @media (min-width: $tablet-width) {
    transform: translateX(-34px);
    margin-bottom: 72px;
  }

  &::before,
  &::after {
    content: " ";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: $main-background-color-dark;
    left: 0;
    top: 45%;

    @media (min-width: $tablet-width) {
      width: 25px;
      left: -6px;
    }
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }

  &::before {
    transform: translateY(-50%);
  }
}

.profiles-pages__pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 100px;
    padding-left: 30px;
    padding-right: 0;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $main-background-color-light;
    left: 50%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.profiles-pages__pagination-list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
  }
}

.profiles-pages__pagination-arrows {
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 20%;
  }

  @media (min-width: $desktop-width) {
    width: 15%;
  }
}
