.profiles {
  padding-bottom: 96px;

  @media (min-width: $tablet-width) {
    padding-bottom: 112px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 128px;
  }
}

.profiles__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
