.quantity-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    justify-content: initial;
    align-items: center;
  }
}

.quantity-input--days {
  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.quantity-input__title {
  margin: 0;

  @include typography(16px, 500, 1);
  text-transform: uppercase;
  color: $button-text-color-dark;
  letter-spacing: 0.09em;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 0.9);
    letter-spacing: 0.1em;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: normal;
    width: 43%;
    margin: 0;
  }
}

.quantity-input__label {
  @include typography(16px, 500, 1);
  text-transform: uppercase;
  color: rgba($button-text-color-dark, 0.3);
  letter-spacing: 0.07em;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 0.9);
    letter-spacing: 0.1em;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: normal;
    order: 1;
    margin: 0;
  }
}

.quantity-input__input-buttons-wrapper {
  width: 100%;
  height: 43px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    margin-right: 34px;
  }
}

.quantity-input__button {
  height: 100%;
  width: 30%;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;

  // horizontal line for plus & minus
  &::before {
    content: " ";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #cccccc;
    left: 0;
    top: 50%;
    transform: translate(14px, -50%);

    @media (min-width: $tablet-width) {
      width: 20px;
      transform: translate(20px, -50%);
    }
  }
}

.quantity-input__button--minus {
  left: 0;
}

.quantity-input__button--plus {
  right: 0;

  &::before {
    left: auto;
    right: 0;
    transform: translate(-100%, -50%);

    @media (min-width: $tablet-width) {
      width: 20px;
    }
  }

  &::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: #cccccc;
    right: 0;
    top: 50%;
    transform: translate(-20px, -50%);

    @media (min-width: $tablet-width) {
      height: 20px;
      right: 0;
      left: auto;
      transform: translate(-30px, -50%);
    }
  }
}

.quantity-input__input {
  border: 1px solid #cbced9;
  border-radius: 4px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 100%;

  @include typography(16px, 500, 1);
  color: $button-text-color-dark;
  font-family: inherit;
  line-height: 2.5;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.quantity-input__input::placeholder {
  @include typography(16px, 500, 1);
  color: $button-text-color-dark;
  display: block;
  height: 42px;
  line-height: 42px;
  transform: translate(8px, 2px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 70px;
  }
}
