.socials-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.socials-list__item {
  background-color: $button-text-color-darker;
  opacity: 0.2;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
