.socials-list {
  list-style: none;
}

.socials-list__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.socials-list--header .socials-list__item {
  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.socials-list__link {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.socials-list__item--color .socials-list__link {
  background-color: $main-accent-color;
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    background-color: $main-accent-color-dark1;
  }
}

.socials-list__svg {
  fill: $main-background-color-dark;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.socials-list__link:active .socials-list__svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .socials-list__svg--facebook {
    width: 14px;
    height: 28px;
  }

  .socials-list__svg--vk {
    width: 30px;
    height: 16px;
  }

  .socials-list__svg--instagram {
    width: 22px;
    height: 22px;
  }
}
