.special-price {
  padding-top: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);

  @media (min-width: $tablet-width) {
    padding-top: 54px;
  }
}

.special-price__heading {
  margin: 0;
  text-align: center;
  // margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.special-price__list {
  margin-bottom: 26px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    padding-left: 0;
    padding-right: 90px;
  }
}

.special-price__list .price-list__item {
  border-color: (black, 0.05);

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.special-price__button-close {
  padding: 26px;
  text-align: center;
  background-color: $main-background-color-light2;
  display: block;
  text-decoration: none;
  color: $button-text-color-dark;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-transform: none;
    font-size: 24px;
    padding: 40px;
  }
}
