.step {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;

  @media (min-width: $tablet-width) {
    padding: 48px 44px 56px 44px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 160px 106px 160px;
    border-radius: 50px;
  }
}

.step__description-markers-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
  }
}

.step__description {
  @media (min-width: $desktop-width) {
    width: 60%;
  }
}

.step__title,
.step__subtitle {
  @include typography(20px, 700, 1);
  color: $button-text-color-dark;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.step__subtitle {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }
}

.step__markers {
  @media (max-width: $tablet-width-only) {
    display: none;
  }

  @include typography(20px, 400, 1.2);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(#000000, 0.6);
  margin-right: 46px;
  padding: 0;
}

.step__marker-item {
  list-style: none;
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: " ";
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background-color: $button-text-color-dark;
    opacity: 0.3;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.step__marker-item--active {
  color: #000000;

  &::before {
    opacity: 1;
  }
}

.step__marker-name {
  padding-left: 40px;
}

.step__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.step__desc-text {
  @include typography(16px, 400, 1.37);
  margin: 0;

  @media (min-width: $tablet-width) {
    @include typography(20px, 400, 1.2);
  }
}

.step__fieldset-inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 26px;

    &::before {
      content: " ";
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #e1e3e9;
      left: 0;
      top: 0;
      }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 30px;
    align-items: center;
  }
}

.step__input-wrapper {
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.step__input-wrapper--companions {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    position: relative;

    &:last-child {
      padding-bottom: 34px;
    }

    &:last-child::before {
      content: " ";
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #e1e3e9;
      left: 0;
      bottom: 0;
    }
  }
}


.step__input-wrapper--checkbox-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.step__chekbox-label {
  @include typography(15px, 400, 1);
  color: $button-text-color-dark;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    @include typography(20px, 500, 1);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.step__date-choice {
  margin-bottom: 22px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.step__step-link-wrapper {
  display: flex;
  flex-direction: column;
}

.step__step-link {
  @include typography(17px, 700, 1.76);
  margin-bottom: 10px;
  width: 100%;
  color: $button-text-color-dark;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  display: block;
  padding: 6px;
  text-decoration: none;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-transform: initial;

    @include typography(24px, 700, 1);
    padding: 20px;
    padding-right: 60px;
    width: max-content;
    max-width: 100%;
  }
}

.step__step-link:last-child {
  margin-bottom: 0;
}

.step__textarea-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.step__textarea-list-item {
  margin-bottom: 26px;
}

.step__textarea-list-item:last-child {
  margin-bottom: 0;
}

.step__textarea-label-icon-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.step__textarea-label {
  @include typography(18px, 500, 1);
  color: $button-text-color-dark;
  padding-left: 10px;
  width: 70%;
  display: block;
}

.step__textarea-icon {
  width: 30%;
}

.step__textarea-input {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cbced9;
  color: #444444;
  font-family: inherit;
  line-height: 1.37;
}

.step__textarea-input::placeholder {
  color: rgba(#444444, 0.3);
}
