.step {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
}

.step__title,
.step__subtitle {
  margin: 0;
  @include typography(20px, 700, 1);
  color: $button-text-color-dark;
}

.step__fieldset {
  border: none;
}

.step__desc {
  font-weight: 400;
}

.step__fieldset {
  margin: 0;
  padding: 0;
}

.step__input-wrapper {
  margin-bottom: 20px;
}

.step__checkbox-wrapper {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.step__chekbox-label {
  color: $button-text-color-dark;
  padding-left: 20px;
}

.step__date-choice {
  margin-bottom: 20px;
}

.step__step-link-wrapper {
  display: flex;
  flex-direction: column;
}

.step__step-link {
  margin-bottom: 10px;
  width: 100%;
  color: $button-text-color-dark;
  @include typography(17px, 700, 1.76);
  text-transform: uppercase;
  display: block;
  padding: 6px;
  text-decoration: none;
  position: relative;
  text-align: center;
  border: none;

  @media (min-width: 768px) {
    text-transform: initial;
    @include typography(24px, 700, 1);
    padding: 20px;
    padding-right: 60px;
    width: max-content;
    max-width: 100%;
  }
}



.step__step-link:last-child {
  margin-bottom: 0;
}
