.transport-inputs {
  // padding: 0;
  list-style: none;
}

.transport-inputs__label {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
  }

  &:active {
    background-color: #e2e5f1;
  }
}

.transport-input__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}

.transport-inputs__input:checked + .transport-input__icon {
  fill: $button-text-color-dark;
}

.transport-inputs__label:hover .transport-input__icon,
.transport-inputs__label:focus .transport-input__icon {
  opacity: 0.7;
}

.transport-inputs__label:active .transport-input__icon {
  opacity: 0.1;
  fill: $button-text-color-dark;
}

.transport-inputs__label:checked:hover .transport-input__icon,
.transport-inputs__label:checked:focus .transport-input__icon {
  fill: #b2b2b2;
  opacity: 1;
}

.transport-inputs__label:checked:active .transport-input__icon {
  opacity: 0.3;
}
