.transport-inputs {
  list-style: none;
}

.transport-inputs__label {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
  }
}

.transport-inputs__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}

.transport-inputs__input:focus + .transport-inputs__label {
  filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
}

.transport-inputs__input:checked + .transport-inputs__label .transport-inputs__icon {
  fill: $button-text-color-dark;
}

.transport-inputs__label:hover .transport-inputs__icon {
  fill: #b2b2b2;
}

.transport-inputs__input:checked + .transport-inputs__label:hover .transport-inputs__icon,
.transport-inputs__input:checked:focus + .transport-inputs__label .transport-inputs__icon {
  fill: rgba($button-text-color-dark, 0.7);
}

.transport-inputs__label:active .transport-inputs__icon {
  opacity: 0.1;
  fill: $button-text-color-dark;
}

.transport-inputs__input:checked + .transport-inputs__label:active .transport-inputs__icon,
.transport-inputs__input:focus + .transport-inputs__label .transport-inputs__icon {
  fill: rgba($button-text-color-dark, 0.3);
}

.transport-inputs__label:active {
  background-color: #e2e5f1;
}
