.travel-type-list {
  list-style: none;
  // padding: 0;
  // padding-top: 10px;
  // padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.travel-type-list__item {
  width: 31px;
  height: 31px;
  position: relative;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.travel-type-list__item--color {
  @media (max-width: $mobile-width-only) {
    background-color: $main-background-color-light;
  }
}

.travel-type-list__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: $button-text-color-dark;
}

@media (min-width: $tablet-width) {
  .travel-type-list__icon--plane{
    width: 22px;
    height: 22px;
  }

  .travel-type-list__icon--bus{
    width: 19px;
    height: 20px;
  }

  .travel-type-list__icon--bike{
    width: 23px;
    height: 19px;
  }

  .travel-type-list__icon--run{
    width: 17px;
    height: 19px;
  }
}


.travel-type-list__item--disabled .travel-type-list__icon {
  opacity: 0.15;
}

.travel-type-list__icon-desc {
  display: none;
}

.travel-type-list__item:hover .travel-type-list__icon-desc,
.travel-type-list__item:focus .travel-type-list__icon-desc {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background-color: #101d41;
  color: $text-color-light;
  z-index: 10;

  @include typography(20px, 400, 1);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);

  &::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-bottom: 8px solid #101d41;
    border-right: 6px solid transparent;
    top: 0;
    right: 50%;
    transform: translate(50%, -90%);
  }
}
