.user-full-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.user-full-card__pic-text-wrapper {
  display: block;
  object-fit: cover;

}
.user-full-card__pic-wrapper {
}
.user-full-card__pic {
}
.user-full-card__button-like-wrapper {
}
.user-full-card__button {
}
.user-full-card__like-wrapper {
}
.user-full-card__like-button {
}
.visuallyhidden {
}
.user-full-card__like-icon {
}
.user-full-card__like-number {
}
.user-full-card__name-wrapper {
}
.user-full-card__name {
}
.user-full-card__name--online {
}
.user-full-card__text {
}
.user-full-card__countries-wrapper {
}
.user-full-card__countries-list-title {
}
