.user-card {
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }
}

.user-card:last-child {
  margin-bottom: 0;
}

.user-card__link {
  display: block;
  object-fit: cover;
  text-decoration: none;
}

.user-card__pic {
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
  }
}

.user-card__level {
  position: absolute;
  top: 17px;
  left: 17px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 22px;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
    left: 23px;
  }
}

.user-card__description {
  position: relative;
  padding: 20px 25px 16px;
  display: flex;
  flex-direction: column;
  // text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
  }
}

.user-card__name {
  @include typography(21px, 700, 1);
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $button-text-color-dark;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    @include typography(24px, 700, 0.92);
    text-align: left;
    padding-left: 44px;
    padding-right: 40px;
    margin: 0;
    margin-bottom: 24px;

    &::before {
      width: 8px;
      height: 8px;
      left: 22px;
    }
  }
}

.user-card--offline .user-card__name::before {
  background-color: $offline-marker-color;
}

.user-card--online .user-card__name::before {
  background-color: $online-marker-color;
}

.user-card__countries {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -57%);
  list-style: none;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -70%);
  }
}

.user-card__text {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: $text-color-dark;
  line-height: 1.12;

  @media (min-width: $tablet-width) {
    @include typography(20px, 400, 1.15);
    padding: 0;
    margin-bottom: 18px;
  }
}

.user-card__travel-type {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
