.user-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }
}

.user-card:last-child {
  margin-bottom: 0;
}

.user-card__link {
  display: block;
  object-fit: cover;
  text-decoration: none;
}

.user-card__level {
  position: absolute;
  top: 25px;
  left: 25px;
}

.user-card__description {
  background-color: #ffffff;
  position: relative;
  padding-top: 32px;
  padding-bottom: 26px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.user-card__name {
  @include typography(21px, 700, 1);
  margin: 0;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $button-text-color-dark;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    @include typography(24px, 700, 0.92);

    &::before {
      width: 8px;
      height: 8px;
    }
  }
}

.user-card__name--offline::before {
  background-color: $offline-marker-color;
}

.user-card__name--online::before {
  background-color: $online-marker-color;
}

.user-card__countries {
  position: absolute;
  top: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.user-card__text {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: $text-color-dark;

  @media (min-width: $tablet-width) {
    @include typography(20px, 400, 1.15);
    padding: 0;
  }
}

.user-card__travel-type {
  margin: 0 auto;
}
