.user-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid $main-accent-color-dark3;
  border-radius: 50%;
  background-color: transparent;
  padding-top: 8px;
}

.user-level__number {
  @include typography(24px, 700, 1);
  color: $button-text-color-dark;
}

.user-level__text {
  @include typography(14px, 400, 1);
  color: rgba(#000000, 0.4);
  border-top: 1px solid rgba(#000000, 0.1);
  display: block;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.user-level--dark {
  background-color: rgba(#000000, 0.6);
  border-width: 4px;
}

.user-level--dark .user-level__number {
  color: $text-color-light;
}

.user-level--dark .user-level__text {
  border-top: 1px solid rgba(#ffffff, 0.3);
  color: $text-color-light;
}

.user-level--current {
  padding-top: 18px;

  @media (min-width: $desktop-width) {
    color: $text-color-light;
  }
}

.user-level--current .user-level__number {
  font-size: 38px;

  @media (min-width: $desktop-width) {
    color: $text-color-light;
  }
}

.user-level--current .user-level__text {
  font-size: 18px;
  padding-top: 8px;

  @media (min-width: $desktop-width) {
    color: $text-color-light;
    border-top: 2px solid rgba(#ffffff, 0.3);
  }
}
