.user-full-card {
  border-radius: 20px;
  position: relative;
  background-color: $user-card-background;
  padding: 16px 18px 74px;
  display: grid;

  // Main adaptive grid for card (3 elements)
  @media (min-width: $tablet-width) {
    border-radius: 20px;
    padding: 35px 20px 10px 35px;
    grid-row-gap: 20px;

    @media (max-width: $tablet-width-only) {
      grid-template-columns: 1fr min-content;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 27.5%;
    grid-template-rows: 1fr min-content;
    grid-row-gap: 6px;
    padding: 45px 40px 40px 45px;
    min-height: 285px;
  }
}

// Styles for 1st element
.user-full-card__pic-text-wrapper {
  // Adaptive grid
  display: grid;

  @media (max-width: $mobile-width-only) {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 12px;
    margin-bottom: 14px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    grid-column-gap: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-row: span 2;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr min-content;
    grid-column-gap: 62px;
  }
}

.user-full-card__pic-wrapper {
  display: block;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  grid-row: span 2;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    border-radius: 20px;
    width: 190px;
    height: 190px;
    grid-row: span 3;
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
    width: 285px;
    height: 285px;
    grid-row: span 3;
    margin-left: -46px;
    margin-top: -46px;
    margin-bottom: -46px;
  }
}

.user-full-card__pic-wrapper:hover .user-full-card__pic-file {
  transform: scale(1.05);
  transition-duration: 0.7s;
}

.user-full-card__button-like-wrapper {
  display: flex;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    order: 3;
    align-items: center;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-bottom: 8px;
  }
}

.user-full-card__button {
  @include typography(17px, 700, 1);
  color: $button-text-color-darker;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $main-accent-color;
  padding: 16px 30px 14px;
  border-radius: 25px;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    text-align: center;
    bottom: 22px;
    left: 20px;
    right: 20px;
    padding: 14px 30px 9px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.user-full-card__like-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.user-full-card__like-button {
  width: 30px;
  height: 30px;
  background-color: $main-background-color-light4;
  border: none;
  border-radius: 50%;
  position: relative;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-120%, -50%);
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.user-full-card__like-button--on {
  background-color: #f9eaea;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11'%3E%3Cpath fill='%23f02323' d='M12 1a3.32 3.32 0 00-4.7 0l-.8.7-.8-.7A3.32 3.32 0 001 1a3.2 3.2 0 000 4.6l.8.8L6.5 11l4.7-4.6.8-.8A3.2 3.2 0 0012 1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 13px 11px;

  @media (min-width: $tablet-width) {
    background-size: 20px 18px;
  }
}

.user-full-card__like-svg {
  fill: $main-background-color-dark;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 18px;
  }
}

.user-full-card__like-button--on .user-full-card__like-svg {
  display: none;
}

.user-full-card__like-number {
  @include typography(14px, 700, 1.14);
  color: $button-text-color-darker;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding-left: 6px;
  }
}

.user-full-card__name-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.user-full-card__name {
  @include typography(20px, 700, 1);
  color: $button-text-color-dark;
  width: 50%;
  margin: 0;

  &::after {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background-color: $offline-marker-color;
    right: 0;
    top: 0;
    transform: translateY(100%);

    @media (min-width: $desktop-width) {
      left: -26px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 30px;
    width: fit-content;
    min-width: 218px;
    padding-right: 30px;
  }
}

.user-full-card__name--online {
  &::after {
    background-color: $online-marker-color;
  }
}

.user-full-card__text {
  @include typography(15px, 400, 1.2);
  text-align: left;
  width: 75%;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    grid-column: span 2;
    margin-top: 14px;
    padding-left: 8px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.15;
  }
}

// Adaptive grid for 2d element
.user-full-card__countries-wrapper {
  position: relative;
  margin-bottom: 4px;

  @media (max-width: $tablet-width-only) {
    &::after {
      content: " ";
      position: absolute;
      width: calc(100% + 40px);
      height: 1px;
      top: 0;
      left: 0;
      transform: translateY(8px);
      margin-left: -20px;
      margin-right: -20px;
      z-index: 1;
      background-color: $main-background-color-light;

      @media (max-width: $tablet-width-only) {
        margin-left: -35px;
        width: calc(100% + 55px);
      }
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    order: 2;
    grid-column: span 2;
  }
}

.user-full-card__countries {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 8px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: row;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 8px;
  }
}

.user-full-card__countries-list-title {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-bottom: 20px;
  }
}

// Adaptive grid for 3d element
.user-full-card__travel-type-level-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: " ";
      position: absolute;
      width: calc(100% + 40px);
      height: 1px;
      top: 0;
      left: 0;
      transform: translateY(8px);
      margin-left: -20px;
      margin-right: -20px;
      background-color: $main-background-color-light;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
  }
}

.user-full-card__travel-type-level-wrapper .user-full-card__section-title {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-full-card__section-title {
  @include typography(15px, 400, 1.07);
  text-transform: lowercase;
  position: relative;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  background-color: $user-card-background;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.user-full-card__travel-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 4px;
  margin-top: 16px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 3px 8px 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.user-full-card__level-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-full-card__level {
  color: $button-text-color-dark;
  width: 45px;
  height: 45px;
  margin-right: 4px;

  @media (min-width: $tablet-width) {
    width: 63px;
    height: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 12px;
  }
}

.user-full-card__level .user-level__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
