.user-nav-list{
  @extend %tpl-list-reset;
}

.user-nav-list__link{
  display: block;
  padding: 16px 40px 12px 40px;
  background-color: $main-accent-color;
  color: $button-text-color-darker;
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 1.18;
  font-weight: 700;
  text-transform: uppercase;
}
