.user-nav-list {
  padding: 0;
  list-style: none;
}

.user-nav-list__link {
  display: block;
  padding: 18px 40px 14px 40px;
  min-height: 40px;
  background-color: $main-accent-color;
  color: $button-text-color-darker;
  text-decoration: none;
  border-radius: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 1.18;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    padding: 16px 30px 12px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0;
    font-weight: 700;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $main-accent-color-dark1;
  }
}

.user-nav-list__link:active .user-nav-list__link-text {
  opacity: 0.3;
}

.user-nav-list__link--promo {
  padding: 12px 29px 8px;
  font-size: 20px;
  line-height: 1;
}
