// All variables for scss files

// Positioning

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// ------------------------
// Colors

// Blue palette
$main-background-color-dark: #192144;
$main-background-color-light: #edeff6;
$main-background-color-light2: #f3f4f8;
$main-background-color-light3: #e6e8f1;
$main-background-color-light4: #e2e5f2;
$button-text-color-dark: #1d2e5b;
$button-text-color-darker: #161c35;
$contacts-buttons-dark-color: #132576;
$contacts-buttons-dark-color2: #121936;

// Yellow palette
$main-accent-color: #ffd74b;
$main-accent-color-dark1: #ffbd30;
$main-accent-color-dark2: #ffa530;
$main-accent-color-dark3: #ff8d30;

// Neutral palette
$text-color-dark: #444444;
$text-color-light: #ffffff;

// Special colors
$online-marker-color: #81e31e;
$offline-marker-color: #f97676;
